*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 18px;
}

#buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  width: 50%;
  gap: 20px;
}

button {
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5%;
}

button.add-book {
  background-color: green;
}

button.add-book:hover {
  background-color: blue;
}

button.remove-selected-books {
  background-color: red;
}

button.remove-selected-books:hover {
  background-color: white;
}

button.empty-library {
  background-color: black;
  color: white;
}

button.empty-library:hover {
  background-color: red;
}

button.update-progress {
  background-color: yellow;
}

button.update-progress:hover {
  background-color: green;
}

#library-title {
  font-size: 2rem;
  color: #f045f0;
  text-align: center;
  margin-bottom: 10px;
}

#library-title span {
  font-size: 8px;
}

#library {
  padding: 10px;
  background-color: #123456;
  border-collapse: collapse;
  font-size: 1.5rem;
  margin: 0 auto;
  min-width: 300px;
}

#library .book-info-row.row:first-child {
  background-color: #009879;
  text-align: left;
}

#library .row {
  color: #FFFFFF;
  border-bottom: 1px solid #444444;
}

#library .row .book-cell {
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 300px;
}

#library .row:nth-child(odd) {
  background-color: #ABDDDE;
}

body {
  background-color: #ABCDEF;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left {
  background-color: white;
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  min-height: 100%;
  border-right: 1px solid black;
  padding: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.left fieldset {
  border-radius: 10px;
  padding: 10px;
  background-color: #445566;
}

.left fieldset legend {
  color: black;
}

.left fieldset input {
  width: 100%;
  margin: 10px 0;
}

.left fieldset input[type="radio"] {
  width: auto;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.removeBtn {
  width: 100%;
  background-color: red;
  color: black;
  font-size: 12px;
}

.buttonCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

button.removeBtn {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

button.removeBtn:hover {
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */